
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Sofia+Sans+Extra+Condensed&display=swap');

body{
    background-color: #8dceff; ;
}

footer{
    background-color: #f6bc58;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-family:'Sofia Sans Extra Condensed', sans-serif ;
    padding-top: 3% ;
    padding-bottom: 3%;
}

a{
    color: black;
    text-decoration: none;
}

.socials {
    display: flex;
    justify-content: center;
    
}

.socials li {
    list-style: none;
    padding-left:50px;
}

.logo{
    display: flex;
    max-width: 100%;
    height: auto;
    padding: 2%;
    justify-content: center;
    background: color #f6bc58; ;
}

.bar{
    font-size: 25px;
    background-color:#f6bc58;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top:3px;
}

.minibar {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.bar li {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 30px;
    display: inline;
    padding: 50px;
    list-style-type: none;
}

.minibar li {
    display: inline;
    padding-right: 10px;
    list-style-type: none;
}


li a {
    color: black;
    text-decoration: none;
    }

.featured h1{
    font-family:'Sofia Sans Extra Condensed', sans-serif;
    font-size: 100px;
    text-align: center;
    background-color: #f6bc58;
    padding: 2%;
}

.featured iframe{
    padding-top:5%;
    position:relative;
    overflow: hidden;
}

.featured h3{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    padding:5%;
    text-align: center;
}


.games h1{
    font-family:'Sofia Sans Extra Condensed', sans-serif;
    font-size: 100px;
    text-align: center;
    background-color: #f6bc58;
    padding: 2%;
}

.quiz{
    display: flex;
    justify-content: center;
    padding:5%;
}

.quiztext {
    display: flex;
    flex-direction: column;
    padding-left:15%;
}

.quiztext h2{
    font-family:'Sofia Sans Extra Condensed', sans-serif;
    font-size: 100px;
}

.quiztext p{
    font-family:'Barlow Condensed', sans-serif;
    font-size: 50px;
    padding-left: 30px;
}


.quiztext button{
    font-family:'Sofia Sans Extra Condensed', sans-serif;
    font-size: 50px;
    background-color:#f6bc58;
    color:black;
    width:150px;
    height: 60px;
    border: none;
    border-radius: 5px;
}

.quizbutton{
    padding-left: 50px;
}


.quiztext a{
    color: black;
    text-decoration: none;
}

.quizimg{
    display: flex;
    padding-left: 15%;
}

.dchara{
    display: flex;
    justify-content: center;
    padding: 5%;

}

.dcharatext {
    display: flex;
    flex-direction: column;
    padding-left:15%;
}

.dcharatext h2{
    font-family:'Sofia Sans Extra Condensed', sans-serif;
    font-size: 100px;
}



.dcharatext button{
    font-family:'Sofia Sans Extra Condensed', sans-serif;
    font-size: 50px;
    background-color:#f6bc58;
    color:black;
    width:150px;
    height: 60px;
    border: none;
    border-radius: 5px;
}

.dcharabutton{
    padding-left: 200px;
}


.dcharatext a{
    color: black;
    text-decoration: none;
}

.dcharaimg{
    display: flex;
    padding-left: 10%;
}




    